apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: syncthing-dolphin-pvc
  namespace: syncthing

spec:
  storageClassName: ""
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 50Gi
  volumeName: syncthing-dolphin-pv
