apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: syncthing-eden-pvc
  namespace: syncthing

spec:
  storageClassName: ""
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 25Gi
  volumeName: syncthing-eden-pv
