apiVersion: v1
kind: PersistentVolume
metadata:
    name: syncthing-dolphin-pv

spec:
    capacity:
        storage: 50Gi
    accessModes:
        - ReadWriteMany
    hostPath:
        path: /mnt/retrogaming/Dolphin
