apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: syncthing-cemu-pvc
  namespace: syncthing

spec:
  storageClassName: ""
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 20Gi
  volumeName: syncthing-cemu-pv
